<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="icon" href="/static/icon2.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-2">
        <nav>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/bollywood">Bollywood</a></li>
                <li class="list-inline-item"><a href="/hollywood">Hollywood</a></li>
                <li class="list-inline-item"><a href="/punjabi">Punjabi</a></li>
                <li class="list-inline-item"><a href="/web-series">Web Series</a></li>
            </ul>
        </nav>
        <a href="https://t.me/filmyjatt_official" target="_blank" class="telegram-button">
            Join us on Telegram
        </a>
         <!-- Movie search form -->
         <form method="post" action="/search">
            <div class="search-bar my-3">
                <input type="text" name="search_query" class="form-control d-inline-block mr-2" placeholder="Search">
                <button type="submit" class="btn btn-light">Search</button>
            </div>
        </form>

        <div id="search-results">
            <!-- Display movie search results here -->
        </div>

        <div id="no-results-message" style="display: none;">
            No results found. Please request the movie below.
        </div>
    </header>

    <h1>Movie List</h1>
    <!-- Telegram join button with Telegram logo -->
    
    <div class="movie-container">
        <div class="row">
            {% for movie in movies %}
                <div class="col-3">
                    <div class="movie-card">
                        <h2>{{ movie['title'] }}</h2>
                        <img src="{{ movie['single_img'] }}" alt="{{ movie['title'] }} Image">
                        <a href="/{{movie['file_code']}}" target="{{ movie['title'] }}">Download</a>
                    </div>
                </div>
                {% if loop.index is divisibleby(4) %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <form id="comment-form" method="post" action="/request">
        <div class="comment-box">
            <div id="message"></div>
            <textarea class="comment-input" name="comment" placeholder="Write your comment here..." rows="10"></textarea>
            <input class="form-control d-inline-block" name="email" type="email" placeholder="Your email">
            <button class="comment-button" type="submit">Request</button>
        </div>
        <div id="message"></div>

    </form>

    <footer>
        &copy; 2023 Your Movie Website. All rights reserved.
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#comment-form").on("submit", function(event) {
                event.preventDefault(); // Prevent the default form submission behavior
        
                var formData = $(this).serialize(); // Serialize form data
        
                $.ajax({
                    type: "POST",
                    url: "/request",
                    data: formData,
                    success: function(response) {
                        // Handle the response from your Flask server here
                        var messageDiv = $("#message");

                        if (response && response.message) {
                            // Display the message in the messageDiv
                            messageDiv.text(response.message);
                        } else {
                            messageDiv.text("An error occurred.");
                        }
                        
                        // You can also update the UI as needed without a full page reload
                    },
                    error: function(xhr, status, error) {
                        // Handle errors if the request fails
                        console.error(xhr.responseText);
                    }
                });
            });
        });
        </script>
</body>

</html>
